In [84]:
import pandas as pd
import numpy as np
df = pd.read_csv("data.csv")
df.head()

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
from sklearn.preprocessing import StandardScaler

In [86]:
#Создание для второго теста датасета без столба CourseCategory
df2 = df.drop(columns=['CourseCategory'])

In [87]:
#One Hot Encoding
zeros_array = np.zeros_like(df['UserID'])
df['is_health'] = zeros_array
df['is_health'] = df['is_health'].mask(df['CourseCategory'] == 'Health' , 1)
df['is_arts'] = zeros_array
df['is_arts'] = df['is_arts'].mask(df['CourseCategory']== 'Arts' , 1)
df['is_science'] = zeros_array
df['is_science'] = df['is_science'].mask(df['CourseCategory']== 'Science' , 1)
df['is_programming'] = zeros_array
df['is_programming'] = df['is_programming'].mask(df['CourseCategory']== 'Programming' , 1)
df.head()

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,is_health,is_arts,is_science,is_programming
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0,1,0,0,0
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0,0,1,0,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1,0,1,0,0
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1,0,0,1,0
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0,0,0,0,1

In [88]:
df = df.drop(columns=['CourseCategory'])
df.columns

Index(['UserID', 'TimeSpentOnCourse', 'NumberOfVideosWatched',
       'NumberOfQuizzesTaken', 'QuizScores', 'CompletionRate', 'DeviceType',
       'CourseCompletion', 'is_health', 'is_arts', 'is_science',
       'is_programming'],
      dtype='object')

In [89]:
df.head(1)

,UserID,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,is_health,is_arts,is_science,is_programming
0,5618,29.979719,17,3,50.365656,20.860773,1,0,1,0,0,0

In [80]:
df.to_csv('data_One_hot.csv', index=False)

In [92]:
X = df.drop('CourseCompletion', axis=1)
y = df['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [93]:
model = LogisticRegression(solver='liblinear', random_state=42)

In [94]:
model.fit(X_train, y_train)

LogisticRegression(random_state=42, solver='liblinear')

In [95]:
y_pred = model.predict(X_test)

In [97]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(classification_report(y_test, y_pred))
print(f"AUC-ROC: {roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])}")

Accuracy: 0.7972222222222223
              precision    recall  f1-score   support

           0       0.82      0.86      0.84      1091
           1       0.77      0.70      0.73       709

    accuracy                           0.80      1800
   macro avg       0.79      0.78      0.78      1800
weighted avg       0.80      0.80      0.80      1800

AUC-ROC: 0.8666121969854651

In [98]:
df2.head()

,UserID,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618,29.979719,17,3,50.365656,20.860773,1,0
1,4326,27.802640,1,5,62.615970,65.632415,1,0
2,5849,86.820485,14,2,78.458962,63.812007,1,1
3,4992,35.038427,17,10,59.198853,95.433162,0,1
4,3866,92.490647,16,0,98.428285,18.102478,0,0

In [101]:
X = df2.drop('CourseCompletion', axis=1)
y = df2['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
model = LogisticRegression(solver='liblinear', random_state=42) 
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(classification_report(y_test, y_pred))
print(f"AUC-ROC: {roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])}")

Accuracy: 0.8033333333333333
              precision    recall  f1-score   support

           0       0.82      0.87      0.84      1091
           1       0.78      0.70      0.74       709

    accuracy                           0.80      1800
   macro avg       0.80      0.79      0.79      1800
weighted avg       0.80      0.80      0.80      1800

AUC-ROC: 0.8672573007256448

In [78]:
#Интересное наблюдение, по сути нет рзницы между наличием и отсутствием признака вид курсов.

In [79]:
df2.to_csv('data_notypes.csv', index=False)

In [81]:
df3 = df.drop(columns=['UserID'])

In [82]:
df3.head()

,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,is_health,is_arts,is_science,is_programming
0,29.979719,17,3,50.365656,20.860773,1,0,1,0,0,0
1,27.802640,1,5,62.615970,65.632415,1,0,0,1,0,0
2,86.820485,14,2,78.458962,63.812007,1,1,0,1,0,0
3,35.038427,17,10,59.198853,95.433162,0,1,0,0,1,0
4,92.490647,16,0,98.428285,18.102478,0,0,0,0,0,1

In [ ]:
#Проба вообще убрать ID как в KNN.
#Не улучшает ситуации. Видимо, модель ей придает маленький вес.

In [102]:
X = df3.drop('CourseCompletion', axis=1)
y = df3['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
model = LogisticRegression(solver='liblinear', random_state=42) 
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(classification_report(y_test, y_pred))
print(f"AUC-ROC: {roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])}")

Accuracy: 0.7983333333333333
              precision    recall  f1-score   support

           0       0.82      0.86      0.84      1091
           1       0.77      0.70      0.73       709

    accuracy                           0.80      1800
   macro avg       0.79      0.78      0.79      1800
weighted avg       0.80      0.80      0.80      1800

AUC-ROC: 0.8661144716548657