In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("data_notypes.xls")
df = df.drop(columns=['UserID'])
df.head()

,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,29.979719,17,3,50.365656,20.860773,1,0
1,27.802640,1,5,62.615970,65.632415,1,0
2,86.820485,14,2,78.458962,63.812007,1,1
3,35.038427,17,10,59.198853,95.433162,0,1
4,92.490647,16,0,98.428285,18.102478,0,0

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.preprocessing import StandardScaler

In [3]:
X = df.drop('CourseCompletion', axis=1)
X = X.drop('DeviceType', axis=1)
y = df['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [4]:
model_class = KNeighborsClassifier(n_neighbors=3)
model_class.fit(X_train, y_train)
y_pred = model_class.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy (Classifier): {accuracy}")

Accuracy (Classifier): 0.8955555555555555

In [6]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_test, y_pred)

print(f"ROC AUC: {roc_auc}")

ROC AUC: 0.8859381605364574

In [7]:
model_reg = KNeighborsRegressor(n_neighbors=3)
model_reg.fit(X_train, y_train)
y_pred = model_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (Regressor): {mse}")

Mean Squared Error (Regressor): 0.09123456790123458

In [61]:
#Первый

In [62]:
df = pd.read_csv("data_One_hot.csv")
df = df.drop(columns=['UserID'])
df.head()

,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,is_health,is_arts,is_science,is_programming
0,29.979719,17,3,50.365656,20.860773,1,0,1,0,0,0
1,27.802640,1,5,62.615970,65.632415,1,0,0,1,0,0
2,86.820485,14,2,78.458962,63.812007,1,1,0,1,0,0
3,35.038427,17,10,59.198853,95.433162,0,1,0,0,1,0
4,92.490647,16,0,98.428285,18.102478,0,0,0,0,0,1

In [63]:
X = df.drop('CourseCompletion', axis=1)
y = df['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [64]:
model_class = KNeighborsClassifier(n_neighbors=3)
model_class.fit(X_train, y_train)
y_pred = model_class.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy (Classifier): {accuracy}")

Accuracy (Classifier): 0.845

In [65]:
model_reg = KNeighborsRegressor(n_neighbors=3)
model_reg.fit(X_train, y_train)
y_pred = model_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (Regressor): {mse}")

Mean Squared Error (Regressor): 0.12592592592592594

In [66]:
#Второй

In [67]:
import pandas as pd
import numpy as np
df = pd.read_csv("data.csv")
df = df.drop(columns=['UserID'])
df.head()

,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,Health,29.979719,17,3,50.365656,20.860773,1,0
1,Arts,27.802640,1,5,62.615970,65.632415,1,0
2,Arts,86.820485,14,2,78.458962,63.812007,1,1
3,Science,35.038427,17,10,59.198853,95.433162,0,1
4,Programming,92.490647,16,0,98.428285,18.102478,0,0

In [68]:
df['Type'] = np.nan
df['Type'] = df['Type'].mask(df['CourseCategory'] == 'Health' , 1)
df['Type'] = df['Type'].mask(df['CourseCategory'] == 'Arts', 2)
df['Type'] = df['Type'].mask(df['CourseCategory'] == 'Science', 3)
df['Type'] = df['Type'].mask(df['CourseCategory'] == 'Programming', 4)
df['Type'] = df['Type'].mask(df['CourseCategory'] == 'Business', 5)
df.head(5)

,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,Type
0,Health,29.979719,17,3,50.365656,20.860773,1,0,1.0
1,Arts,27.802640,1,5,62.615970,65.632415,1,0,2.0
2,Arts,86.820485,14,2,78.458962,63.812007,1,1,2.0
3,Science,35.038427,17,10,59.198853,95.433162,0,1,3.0
4,Programming,92.490647,16,0,98.428285,18.102478,0,0,4.0

In [69]:
df = df.drop(columns=['CourseCategory'])

In [70]:
df.head(5)

,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,Type
0,29.979719,17,3,50.365656,20.860773,1,0,1.0
1,27.802640,1,5,62.615970,65.632415,1,0,2.0
2,86.820485,14,2,78.458962,63.812007,1,1,2.0
3,35.038427,17,10,59.198853,95.433162,0,1,3.0
4,92.490647,16,0,98.428285,18.102478,0,0,4.0

In [71]:
X = df.drop('CourseCompletion', axis=1)
y = df['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [72]:
model_class = KNeighborsClassifier(n_neighbors=3)
model_class.fit(X_train, y_train)
y_pred = model_class.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy (Classifier): {accuracy}")

Accuracy (Classifier): 0.85

In [75]:
model_reg = KNeighborsRegressor(n_neighbors=3)
model_reg.fit(X_train, y_train)
y_pred = model_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (Regressor): {mse}")

Mean Squared Error (Regressor): 0.11882716049382717

In [80]:
#Лучше всего вообще убрать столбец тип курса, как оказалось.

In [77]:
df = pd.read_csv("data_notypes.csv")
X = df.drop('CourseCompletion', axis=1)
y = df['CourseCompletion']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [78]:
model_class = KNeighborsClassifier(n_neighbors=3)
model_class.fit(X_train, y_train)
y_pred = model_class.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy (Classifier): {accuracy}")

Accuracy (Classifier): 0.8694444444444445

In [79]:
model_reg = KNeighborsRegressor(n_neighbors=3)
model_reg.fit(X_train, y_train)
y_pred = model_reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (Regressor): {mse}")

Mean Squared Error (Regressor): 0.10067901234567901

In [ ]:
#Последний пример, показывает, что нужно убрать столбец ID!